#weather{
    color: white;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

   
}
#background{
    filter: brightness(70%);
    position: absolute;
    top: 0%;
    right: 0%;
    height: 120%;
}
#text{
    position: absolute;
    z-index: 1;
    right: 40%;
    line-height: 7.0em;
}
#temperature{
    position: absolute;
    font-size: 1500%;
    right: -120%;
    top: 75%;
}
#temperature2 {
position: absolute;
right: -141%;
font-size: 400%;
top: 85%;
}
#humidity{
    position: absolute;
    top: 185%;
}
#city{
 position: absolute;
 right: 70%;   
 top: 15%;
 z-index: 1;
 font-size: 1000%;
 word-wrap: break-word;

 max-width: 450px;
 padding: 5px 0px 0 0px;
 margin: 0;
 width: 400%; 


}

#input{
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 7%;
    opacity: 0.3;
    font-size: 100%;
    
}
#button{
    position: absolute;
    width: 7% ;
    height: 7%;
    opacity: 0.3;
   right: 61%;
}

::placeholder{
    color: white;
}